{{define "content"}}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Incident</li>
</ol>

<div class="panel panel-default panel-{{.incident.BootstrapClass}}">
    <div class="panel-heading">
        <h3>{{.incident.StartDate}}:
            {{.incident.Summary}}
            <span class="pull-right label label-{{.incident.BootstrapClass}}">{{.incident.Status}}</span></h3>
    </div>
    <div class="panel-body">
        <span class="pull-right"><b>{{.incident.DisplayDuration}}</b></span>
        <dl>
            <dt>Started:</dt>
            <dd>{{.incident.DisplayStart}}</dd>
            {{ if eq .incident.Status "resolved" }}
            <dt>Ended:</dt>
            <dd>{{.incident.DisplayEnd}}</dd>
            {{ end }}
        </dl>
{{.incident.RenderDescription}}
    </div>
    <div class="panel-body">
        <h4>Timeline</h4>
        <ul class="list-group">
            {{ range .updates }}
            <li class="list-group-item list-group-item-{{.BootstrapClass}}">
                <span class="label label-{{.BootstrapClass}} pull-right">{{.Status}}</span>
                <span>{{.DisplayTimestamp}}</span></li>
            {{ if .Comment }}
                <li class="list-group-item">{{.RenderComment}}</li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</div>

{{ if .user }}
{{ if .user.Admin }}

<hr />

<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">
        Update/Edit
    </button>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
        Delete
    </button>
</div>

<hr />

<form action="{{.incident.Path}}update" method="post">
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="updateModalLabel">Update</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="status">Status</label>
                        
                        <select name="status" class="form-control" id="status">
                            <option value="{{.incident.Status}}" selected>{{.incident.Status}}</option>
                            {{ range .incident.StatusOptions }}
                            <option value="{{.}}">{{.}}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="summary">Summary</label>
                        <input type="text" name="summary" value="{{.incident.Summary}}" id="summary" class="form-control"/>
                    </div>
                    
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" rows="7">{{.incident.Description}}</textarea>
                        <span id="status-description" class="help-block">This should always describe the overall <em>current</em> state of the incident. Markdown supported.</span>
                    </div>

                    <div class="form-group">
                        <label for="start">Start Time</label>
                        <input type="text" name="start" value="{{.incident.EditStart}}" id="start" class="form-control"/>
                        <span id="help-start" class="help-block">The earliest time that users may have been affected by this incident.</span>
                    </div>

                    {{ if eq .incident.Status "resolved" }}        
                    <div class="form-group">
                        <label for="end">End Time</label>
                        <input type="text" name="end" value="{{.incident.EditEnd}}" id="end" class="form-control"/>
                        <span id="hel-end" class="help-block">The latest time that users may have been affected by this incident. Does not include additional root-cause analysis or remediation time.</span>
                    </div>
                    {{ end }}
                    
                    <div class="form-group">
                        <label for="update">Update Comment</label>
                        <textarea class="form-control" name="update" placeholder="update" rows="5"></textarea>
                        <span id="help-comment" class="help-block">Markdown supported</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="update"/>
                </div>
            </div>
        </div>
    </div>
</form>


<form action="{{.incident.Path}}delete" method="post">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModalLabel">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>This can't be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="delete"/>
                </div>
            </div>
        </div>
    </div>
</form>
{{ end }}
{{ end }}
{{ end }}
