{{define "content"}}

<div class="row jumbotron">
    <div class="col-md-6">
        {{ if .current }}
        <div class="alert alert-{{.current.BootstrapClass}}"><h1>{{.current.Status}}</h1>
            <p><a href="{{.current.Path}}">{{.current.Summary}}</a></p>
        </div>
        {{ else }}
        {{ if .ongoing_maintenance_windows }}
        <div class="alert alert-warning"><h1>Maintenance</h1>
            <p>In a scheduled maintenance window</p>
        </div>
        {{ else }}
        <div class="alert alert-success"><h1>OK</h1>
            <p>No known issues at this time</p>
        </div>
        {{ end }}
        {{ end }}
    </div>

    <div class="col-md-6">
        {{ if .ongoing_maintenance_windows }}
        <h2>Ongoing Maintenance Windows</h2>
            {{ range .ongoing_maintenance_windows }}
            <div class="alert alert-{{.BootstrapClass}}">
                <h2><a href="{{.Path}}">{{.Summary}}</a></h2>
                <p>{{.DisplayStart}} - {{.DisplayEnd}}</p>
                <p>{{.Description}}</p>
            </div>
            {{ end }}
        {{ else }}
        <div class="alert alert-success">
            <p>Not in a Maintenance Window</p>
        </div>
        {{ end }}

        <div class="panel panel-default">
            <div class="panel-heading">
                Upcoming Maintenance Windows
            </div>
            {{ if .upcoming_maintenance_windows }}
            <ul class="list-group">
                {{ range .upcoming_maintenance_windows }}
                <li class="list-group-item list-group-item-{{.BootstrapClass}}"><a href="{{.Path}}"><b>{{.Summary}}</b> {{.DisplayStart}} {{.DisplayDuration}}</a></li>
                {{ end }}
            </ul>
            {{ else }}
            <div class="panel-body"><p>No upcoming Maintenance Windows</p></div>
            {{ end }}
        </div>
        
    </div>
    
</div>

{{ if .user }}
{{ if .user.Admin }}

<hr />

<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newIncidentModal">
        New Incident
    </button>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newMaintModal">
        Schedule Maintenance Window
    </button>
</div>

<hr />

<form action="/incident/new" method="post" class="form">
    <div class="modal fade" id="newIncidentModal" tabindex="-1" role="dialog" aria-labelledby="newIncidentModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newIncidentModalLabel">New Incident</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="summary">Summary</label>
                        <input type="text" name="summary" placeholder="Summary" id="summary" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select name="status" class="form-control" name="status" id="status">
                            <option value="investigating" selected>investigating</option>
                            <option value="outage">confirmed outage</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" placeholder="Description of Incident"></textarea>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="new incident" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </div>
</form>


<form action="/maintenance/new" method="post" class="form">

    <div class="modal fade" id="newMaintModal" tabindex="-1" role="dialog" aria-labelledby="newMaintModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newMaintModalLabel">New Maintenance Window</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="summary">Summary</label>
                        <input type="text" name="summary" placeholder="Summary" id="summary" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="start-m">Start Time</label>
                        <input type="text" name="start" value="{{.now}}" id="start-m" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="end-m">End Time</label>
                        <input type="text" name="end" value="{{.now}}" id="end-m" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" placeholder="Description of Maintenance Window"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="new maintenance window" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </div>
</form>
{{ end }}
{{ end }}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Availability Stats
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Yearly:</dt>
                    <dd>{{printf "%.04f" .yearly_availability}}%</dd>
                    <dt>Monthly:</dt>
                    <dd>{{printf "%.04f" .monthly_availability}}%</dd>
                    <dt>Weekly:</dt>
                    <dd>{{printf "%.04f" .weekly_availability}}%</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Elsewhere</div>
            <div class="panel-body">
                <p>Other related status pages</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="http://cuitalerts.columbia.edu/">CUIT Alerts</a></li>
                    <li class="list-group-item"><a href="https://status.linode.com/">Linode</a></li>
                    <li class="list-group-item"><a href="http://status.aws.amazon.com/">AWS</a></li>
                    <li class="list-group-item"><a href="https://status.github.com/">Github</a></li>            
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ if .incidents }}
        <h2>Recent Incidents</h2>
        {{ range .incidents }}
        <div class="panel panel-default panel-{{.BootstrapClass}}">
            <div class="panel-heading">
                <h3>{{.StartDate}}:
                    <a href="{{.Path}}">{{.Summary}}</a>
                    <span class="pull-right label label-{{.BootstrapClass}}">{{.Status}}</span></h3>
            </div>
            <div class="panel-body">
                <span class="pull-right"><b>{{.DisplayDuration}}</b></span>
                <dl class="dl-horizontal">
                    <dt>Started:</dt>
                    <dd>{{.DisplayStart}}</dd>
                    {{ if eq .Status "resolved" }}
                    <dt>Ended:</dt>
                    <dd>{{.DisplayEnd}}</dd>
                    {{ end }}
                </dl>
                <p>{{.Description}}</p>
            </div>
        </div>
        {{ end }}
        {{ else }}
        <p>No Recent Incidents</p>
        {{ end }}
    </div>

    <div class="col-md-6">
        {{ if .maintenance_windows }}
        <h2>Recent Maintenance Windows</h2>
        {{ range .maintenance_windows }}
        <div class="panel panel-default panel-{{.BootstrapClass}}">
            <div class="panel-heading">
                <h3>{{.StartDate}}:
                    <a href="{{.Path}}">{{.Summary}}</a>
                    <span class="pull-right label label-{{.BootstrapClass}}">{{.Status}}</span></h3>
            </div>
            <div class="panel-body">
                <span class="pull-right"><b>{{.DisplayDuration}}</b></span>
                <dl class="dl-horizontal">
                    <dt>Started:</dt>
                    <dd>{{.DisplayStart}}</dd>
                    {{ if eq .Status "resolved" }}
                    <dt>Ended:</dt>
                    <dd>{{.DisplayEnd}}</dd>
                    {{ end }}
                </dl>
                
                <p>{{.Description}}</p>
            </div>
        </div>
        {{ end }}
        {{ else }}
        <p>No Recent MaintenanceWindows</p>
        {{ end }}
    </div>

    
</div>


{{end}}
