{{define "content"}}
<h1>Status</h1>

{{ range .incidents }}
<div class="panel panel-default panel-{{.BootstrapClass}}">
    <div class="panel-heading"><a href="{{.Path}}">[{{.Status}}] {{.Start}} {{.Summary}}</a> (<b>{{.DisplayDuration}}</b>)</div>
    <div class="panel-body">
        <p>{{.Description}}</p>
    </div>
    <div class="panel-body">
    </div>
</div>
{{ end }}

{{ if and .user .user.Admin }}
<h2>New Incident</h2>
<form action="/incident/new" method="post" class="form">
    <div class="form-group">
        <label for="summary">Summary</label>
        <input type="text" name="summary" placeholder="Summary" id="summary" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description">Description of Incident</textarea>
    </div>
    <input type="submit" value="new incident" class="btn btn-primary"/>
</form>
{{ end }}
{{end}}
