{{define "content"}}

<div class="jumbotron">
{{ if .current }}
    <div class="alert alert-{{.current.BootstrapClass}}"><h1>{{.current.Status}}</h1>
        <p><a href="{{.current.Path}}">{{.current.Summary}}</a></p>
    </div>
{{ else }}
    <div class="alert alert-success"><h1>OK</h1>
        <p>No known issues at this time</p>
    </div>
{{ end }}
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Availability Stats
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Yearly:</dt>
                    <dd>{{printf "%.04f" .yearly_availability}}%</dd>
                    <dt>Monthly:</dt>
                    <dd>{{printf "%.04f" .monthly_availability}}%</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Elsewhere</div>
            <div class="panel-body">
                <p>Other related status pages</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="http://cuitalerts.columbia.edu/">CUIT Alerts</a></li>
                    <li class="list-group-item"><a href="https://status.linode.com/">Linode</a></li>
                    <li class="list-group-item"><a href="http://status.aws.amazon.com/">AWS</a></li>
                    <li class="list-group-item"><a href="https://status.github.com/">Github</a></li>            
                </ul>
            </div>
        </div>
    </div>
</div>

<h2>Recent Incidents</h2>
{{ range .incidents }}
<div class="panel panel-default panel-{{.BootstrapClass}}">
    <div class="panel-heading">
        <h3>{{.StartDate}}:
        <a href="{{.Path}}">{{.Summary}}</a>
        <span class="pull-right label label-{{.BootstrapClass}}">{{.Status}}</span></h3>
    </div>
    <div class="panel-body">
        <span class="pull-right"><b>{{.DisplayDuration}}</b></span>
        <dl class="dl-horizontal">
            <dt>Started:</dt>
            <dd>{{.DisplayStart}}</dd>
            {{ if eq .Status "resolved" }}
            <dt>Ended:</dt>
            <dd>{{.DisplayEnd}}</dd>
            {{ end }}
        </dl>
        
        <p>{{.Description}}</p>
    </div>
</div>
{{ end }}

{{ if .user }}
{{ if .user.Admin }}
<h2>New Incident</h2>
<form action="/incident/new" method="post" class="form">
    <div class="form-group">
        <label for="summary">Summary</label>
        <input type="text" name="summary" placeholder="Summary" id="summary" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <select name="status" class="form-control" name="status" id="status">
            <option value="investigating" selected>investigating</option>
            <option value="outage">confirmed outage</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" placeholder="Description of Incident"></textarea>
    </div>
    <input type="submit" value="new incident" class="btn btn-primary"/>
</form>
{{ end }}
{{ end }}
{{end}}
