{{define "content"}}
<div class="panel panel-default panel-{{.maintenance_window.BootstrapClass}}">
    <div class="panel-heading">
        <h1>{{.maintenance_window.StartDate}}:
            {{.maintenance_window.Summary}}
            <span class="pull-right label label-{{.maintenance_window.BootstrapClass}}">{{.maintenance_window.Status}}</span></h1>
    </div>
    <div class="panel-body">
        <span class="pull-right"><b>{{.maintenance_window.DisplayDuration}}</b></span>
        <dl class="dl-horizontal">
            <dt>Start:</dt>
            <dd>{{.maintenance_window.DisplayStart}}</dd>
            <dt>End:</dt>
            <dd>{{.maintenance_window.DisplayEnd}}</dd>
        </dl>

<p>{{.maintenance_window.Description}}</p>
    </div>
</div>

{{ if .user }}
{{ if .user.Admin }}

<hr />

<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#updateModal">
        Update/Edit
    </button>

    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#deleteModal">
        Delete
    </button>
</div>

<hr />


<form action="{{.maintenance_window.Path}}update" method="post">
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="updateModalLabel">Update</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="summary">Summary</label>
                        <input type="text" name="summary" value="{{.maintenance_window.Summary}}" id="summary" class="form-control"/>
                    </div>
                    
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description">{{.maintenance_window.Description}}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="start">Start Time</label>
                        <input type="text" name="start" value="{{.maintenance_window.EditStart}}" id="start" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="end">End Time</label>
                        <input type="text" name="end" value="{{.maintenance_window.EditEnd}}" id="end" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="update"/>
                </div>
            </div>
        </div>
    </div>
</form>


<form action="{{.maintenance_window.Path}}delete" method="post">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModalLabel">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>This can't be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="delete"/>
                </div>
            </div>
        </div>
    </div>
</form>
{{ end }}
{{ end }}
{{ end }}
